rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // TODO: Regras por coleção e perfis (admin/ops/viewer)
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
